{%extends 'base.html'%}
{% load static %}
{%block content%}
<!-- displaying image adverts for offers and products -->
<div class="container">
    <!-- <div class="row">
        <div class="col-md-12 ads">
            <img class="ads" src="https://ke.jumia.is/cms/2023/W23/CP/Sliders/Desktop/_S.jpg" alt="wine" srcset="">
            <img class="ads" src="https://ke.jumia.is/cms/2023/JA23/Teasing/V1/KE_JA23_ACD_Tease_0523_S.png" alt="eletronics" srcset="">
        </div>
    </div> -->
    <div class="row">
        <div class="col-lg-12">
            <div class="offers">
                <h4 style="color: white;"><strong> Crazy Offers | Upto 18% Off</strong><h4/>
                    <!-- display time countdown for the offers -->
                <strong><p style="padding-top: 10px;">Time Left: <span id="countdown" class="text-light"></span></p></strong>
            </div>
            <div class="row items">
                {% for product in products.products %}
                <div class="col-lg-2 products">
                    <a href="{% url 'product_detail' product.id %}">
                    <div class="img">
                        <img src="{{product.thumbnail}}" alt="" srcset="">
                            <p class="discount-percentage">-{{product.discountPercentage|floatformat:0 }}%</p>
                    </div>
                    <div class="box-element product">
                        <h4 class="product-name">{{product.title}}</h4>
                        <h4 class="price"> $ {{product.price}}<h4 />
                            <p>{{product.stock }} items left</p>
                            <!-- progressbar for the items remaining -->
                            <progress value={{product.stock}} max=500></progress>
                    </div>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript for time count down for the offers in days, hoursa and mins 
    var countDownDate = new Date("Sep 15, 2023 23:59:59").getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        // Time calculations for days, hours, minutes and seconds 
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) /
            (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) /
            (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        // Display the result in the element with id="countdown" 
        document.getElementById("countdown").innerHTML = days + "d " + hours +
            "h " +
            minutes + "m " + seconds + "s ";
        // If the count down is finished, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "EXPIRED";
        }
    }, 100
    );
</script>

{%endblock content%}