{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{%block content%}
<section>
    <div class="container">
      <div class="user signupBx">
        <div class="formBx">
          <form method="POST" action="">
            {% csrf_token %}
            <h2>Create an account</h2>
            <!-- display each field form errors -->
            {{form.username}}
            <!-- dipaly username error -->
            {% for error in form.username.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
            {{form.email}}
            {% for error in form.email.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
            {{form.phone_number}}
            {% for error in form.phone_number.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
            {{form.password1}}
            {% for error in form.password1.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
            {{form.password2}}
            {% for error in form.password2.errors %}
            <p class="text-danger">{{error}}</p>
            {% endfor %}
            <input type="submit" name="" value="Sign Up" />
            <p class="text-muted" class="signup">
              Already have an account ?
              <a href="{% url 'login' %}">Sign in.</a>
            </p>
          </form>
        </div>
        <div class="imgBx"><img src="https://thumbs.dreamstime.com/b/metal-shopping-cart-full-vegetables-metal-shopping-cart-full-vegetables-farming-fresh-food-organic-agriculture-products-126066713.jpg" alt="" /></div>
      </div>
    </div>
  </section>
  {%endblock content%}
